.content {
  display: flex;
  justify-content: space-between;
  max-width: 60rem;
  margin: 0rem auto;
  padding-top: 5rem;
  padding-bottom: 2.5rem;
  font-size: 2rem;
  font-weight: bold;
  color: #444444;
}

.content .balanceTitle {
  font-size: 1.3rem;
}

.balanceTitle span {
  font-size: 1rem;
}
