.container {
  position: absolute;
  top: 43%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 0.1rem solid #adadad;
  box-shadow: 0 0 20px 0px #adadad;
  border-radius: 1rem;
  width: 100%;
  max-width: 22rem;
  margin: 0 auto;
  padding: 2rem 2rem;
  height: 42rem;
}
