.container {
  width: 28rem;
  height: 9rem;
  max-height: 10rem;
  background-color: #40df55;
  background-image: linear-gradient(147deg, #40df55 5%, #30cc45 87%);
  border-radius: 0.4rem;
  margin-bottom: 2rem;
}

.containerBlue {
  width: 28rem;
  height: 9rem;
  max-height: 10rem;
  background-color: #a2d7f9;
  background-image: linear-gradient(135deg, #a2d7f9 0%, #35afff 100%);
  border-radius: 0.4rem;
  margin-bottom: 2rem;
}

.container h2,
.containerBlue h2 {
  font-size: 1rem;
  padding: 1.5rem 0rem 0.5rem 1.8rem;
}

.form {
  display: grid;
  font-size: 0.9rem;
  padding: 0rem 1.8rem;
  grid-template-columns: 8rem 8rem 3rem;
  column-gap: 0.5rem;
  row-gap: 0.3rem;
}

.form input {
  border: none;
  border-radius: 2px;
  height: 1.7rem;
  padding: 0.2rem 0.5rem;
  background-color: rgba(255, 255, 255, 0.3);
  color: black;
}

.form input:focus {
  outline: none;
}

.form button {
  border: none;
  border-radius: 2px;
  width: 4rem;
}

.form button:hover {
  box-shadow: none;
}

@media (max-width: 900px) {
  .container,
  .containerBlue {
    margin: 2rem auto;
    height: 45rem;
  }
}
